@import './typography.scss';
@import "~rfs/scss";

// Color variables
$primary-color: #5CDB95;
$secondary-color: #05386B;
$black: #323232;
$white: #FCFCFC;

// * {
//   border: .1px solid black;
// }

html {
  background-color: $white;
}

.section {
  position: relative;
  max-width: 100vh;
  @include padding(5rem 10rem);
}

// Header
nav {
  position: fixed;
  @include rfs(5rem, width);
  height: 100vh;
  @include padding(.5rem 1rem);
  top: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
  background-color: $black;
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
}

// Dashboard section

.dataTableBody {
  max-width: 50vw;
}

// Card Detail Section

.postCard {
  width: 25vw;
}

// Add/Edit Post Form Section
.addEditPostFormBody {
  width: 45vw;
  @include padding(3rem 2rem);
}